@import 'interfaces';
/*desktop styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//accesibility
*:focus{
    outline: solid lime ;
}
@font-face {
    font-family: "Ninja Rush"; 
    src: url("//db.onlinewebfonts.com/t/a7b372ceea7ec3689482bdaae6030070.eot"); 
    src: url("//db.onlinewebfonts.com/t/a7b372ceea7ec3689482bdaae6030070.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/a7b372ceea7ec3689482bdaae6030070.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/a7b372ceea7ec3689482bdaae6030070.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/a7b372ceea7ec3689482bdaae6030070.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/a7b372ceea7ec3689482bdaae6030070.svg#Ninja Rush") format("svg");
}

html{
    --blackColor:#000;
}

@include desktopHeader{ 
    body{
        background-color:darkorange;
    }
    header{
        .burguer{
                width: 100%;
                height: 2rem;
                position: relative;
                top: 0px;
                background-color: transparent;
                z-index: 100000;
                div.lines{
                    height:auto;
                    position: absolute;
                    top: 0rem;
                    background-color: darkorange;
                    padding: 0.3rem;
                    span{   
                        padding: 0.1rem 1rem;
                        margin:0.2rem 0rem;
                        background:black        ;
                        display: block;
                        width: 2rem;
                        right: 00.1rem;
                    }
                }
                div.menuAcc{
                    display: none;
                    margin-left: 3.5rem;
                    a{
                        color: #FFF;
                        text-decoration: underline;
                        text-transform: capitalize;
                        margin-right: 0.4rem;
                    }
                }    
        }
        div.lines:focus{
            width: auto;
            height: auto;
        }
        div.titles{
           
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items:center;
            background-image: url('../images/pizza.png');
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 40vh;
            
            
            h1{
                width: 100%;
                color: brown;
                letter-spacing: 3rem;
                font-family: 'Ninja Rush';
                padding: 20px;
                font-size: 3rem;
                background-color: rgba($color: #FFF, $alpha: 0.4);
                text-align: center;
                
            }
            span{
                
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color:chartreuse;
                font-size: 8rem;
               
                margin-bottom: 1rem;
               
                animation: spanAnimator 2s forwards;        
            }
        }


    }

    @keyframes spanAnimator {
        0%{
            color: chartreuse;
            margin-top: 0;
            text-shadow: 3px 1px 10px var(--blackColor), -3px -1px 10px var(--blackColor);
            opacity: 0.6;
        }
        100%{
            color: purple;
            margin-top: 3rem;
            text-shadow: 0px 0px 10px greenyellow;
            opacity: 0.8;
        }
        
    }      
}

@include desktopContent{
    .content{
        width: 100%;
        background: linear-gradient(darkorange, var(--blackColor));
        background-clip:padding-box;
        
        p.description{
            margin: 3rem;
            color:darkgreen;
            font-weight: bolder;
            background: #FFF;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0rem 0rem 4rem white;
        }

        p.description::first-letter{
            color: white;
            background-color: black;
            border-radius: 2px;
            box-shadow: 3px 3px 0 red;
            font-size: 250%;
            padding: 6px 3px;
            margin-right: 6px;
            float: left;
        }
        .rafa , .mike, .don, .rock, .rahzhar, .tokka{
            display: none;
        }
       
        li.toggle-btn-visible{
            display: block;
        }
        li.toggle-target-hidden{
            display: none;
        }
        li.toggle-target-expanded{
            display: block;
        }
    }
}

@include desktopMenus{
    .container{
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
    
         
    
    .tmnt nav.menu{
        background-color:darkorange;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0,0.8);
        background-image: url('../images/border.png');
        background-size: 1rem;
        background-repeat: repeat-x;
        background-position: bottom;
        
        ul{
            display: table;
            margin: 0 auto;
            padding: 1rem 1rem;
            overflow-x: visible;
            li{
                
                list-style: none;
                float: left;
                background-color: burlywood;
                margin-right: 10px;
                padding: 10px;
                text-transform: uppercase;
                border-radius: 5%;
                border: 1px solid green;
                a{
                    text-decoration: none;
                    color:purple;
                    font-weight:bold;
                    font-size: larger;
                    text-transform: capitalize;
                    letter-spacing: 0.3rem;
                }
                a[aria-current="page"],:active{
                    font-weight: bolder;
                    border-bottom: 0.3rem solid green;
                }
               
            
            }
            li:hover,:focus{
                background-color: #b4e72b;
                outline: solid 0.2rem #b4e72b;
                a{
                    color: purple;
                }
            }
            
            
        }
        
    }

    .footklan nav.menu{
        background-color:cornflowerblue;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0,0.8);
        background-image: url('../images/border.png');
        background-size: 1rem;
        background-repeat: repeat-x;
        background-position: top;
        
        ul{
            display: table;
            margin: 0 auto;
            padding: 1rem 1rem;
            overflow-x: visible;
            li{
                
                list-style: none;
                float: left;
                background-color:var(--blackColor);
                margin-right: 10px;
                padding: 10px;
                text-transform: uppercase;
                border-radius: 5%;
                border: 1px solid red;
                a{
                    text-decoration: none;
                    color:firebrick;
                    font-weight:bold;
                    font-size: larger;
                    text-transform: capitalize;
                    letter-spacing: 0.3rem;
                }
                a[aria-current="page"],:active{
                    font-weight: bolder;
                    border-bottom: 0.3rem solid yellow;
                }
            
            }
            li:hover{
                background-color: greenyellow;
                a{
                    color: purple;
                }
            }
        }
    }
}

@include desktopGallery{
    article{
        display: flex;
        margin-left: 0px;
       
        div.gallery {
            flex: 1;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            .tmntGal{
                img{
                    
                    width: 230px;
                    height: 230px;
                    overflow: hidden;
                    justify-content: center;
                    flex-direction: column;
                }
                figcaption{
                    width: 230px;
                    position: absolute;
                    margin-top: -40px;
                    margin-left: 0;
                    color: #FFF;
                    background-color: rgba($color: #000, $alpha: 0.5);
                    text-align: center;
                }
            }
            div.tmntGal:hover{
                
                cursor: pointer;
                img.leovigildo{
                    content: url('../images/Ninja_Turtle_Face_P.png');
                    object-position: 60px -60px;
                    transform: scale(2);
                    clip-path: circle(25%); 
                }
                img.mikaelo{
                    content: url('../images/Ninja_Turtle_Face_P.png');
                    object-position: -60px 40px;
                    transform: scale(2);
                    clip-path: circle(25%); 
                }
                img.rafael{
                    content: url('../images/Ninja_Turtle_Face_P.png');
                    object-position: 60px 40px;
                    transform: scale(2);
                    clip-path: circle(25%); 
                }
                img.donatelo{
                    content: url('../images/Ninja_Turtle_Face_P.png');
                    object-position: -60px -60px;
                    transform: scale(2);
                    clip-path: circle(25%); 
                }
                figcaption{
                    background-color: rgba($color:#000, $alpha: 1);
                }
            }
            
        }

        img.krang:hover{
            content: url('../images/Foot_Clan_2.jpg');
            object-fit: cover;
        }
        aside{
            flex: 1;
            width: auto;
            height: auto;
            background-color: black;
            color: #FFF;

            .cycle-prev,.cycle-next{
                position: absolute;
                padding: 1rem;
                top:20%;
                color: white;
                background-color: rgba($color: #000000, $alpha: 0.6);
                z-index: 1000;
                cursor: pointer;

            }

            .cycle-next{
                right: 0;
            }
            .cycle-pager{
                position: absolute;
                top:3%;
                z-index: 1003;
                width: 100%;
                text-align: center;
            }
    
            .slide{
                    width: 100%;
                    height: 100%;
                   position: relative;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .slide-text{
                    width: 100%;
                   position: absolute;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    color: #FFF;
                    bottom: 0;
                    text-align: center;
                }
            }
            
            
        }    
    }
}

@include desktopSectionScene{
    section.scene{
        margin-top: 3rem;
        width: 100%;
        height: 100vh;
        background-image: url('../images/hqdefault.jpg');
        background-size: cover;
       
        display: flex;
        align-items: center;
        justify-content: center;

        iframe{
            flex: 2;
        }
        div.footSoldier{
            flex: 1;
            width: 300px;
            height: 400px;
            z-index: 1000;
            background-image: url('../images/Teenage-Mutant-Ninja-Turtles-Foot-Soldier-119x300.png');
            background-repeat: no-repeat;
            margin-left: 7rem;
            margin-top: 8rem;
            
        }
    }
}



@include desktopOtherMutants{
    .mutantex{
        h1{
            text-align: center;
            color: #FFF;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 10rem;
            
        }
    }
    section div.mutants{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        
        .gridtest img{
            margin: 1rem;
            width: 250px;
            height: auto;
            box-shadow: 0rem 1rem 5rem var(--blackColor);
        }

    }
}

@include pizzamaker{
    .todoContainer{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-spacing: 1rem;
        padding: 4rem;
        text-align: center;
       
        background-color: #b4e72b;
        h1{
            color: purple;
            font-size:xx-large;
            margin: 1rem;
        }
        form label.ni{
            padding: 1rem;
            color: blueviolet;
        }
        div input[type="text"]{
            padding: 0.7rem;
            margin: 1rem;
            border-radius: 0.6rem;
        }
        div input[type="submit"]{
            padding: 0.7rem;
            background-color: blue;
            color: #FFF;
            border-radius: 0.6rem;
        }
        ul{
            background-color:darkgoldenrod;
            border-radius: 0.6rem;
        }
        ul li{
            margin: 2rem;
            color: blue;
            font-size: xx-large;
            list-style-type: none;
            vertical-align: middle;
            
        }
        .deleteTask{
            padding: 0.4rem;
            margin-left: 1rem;
            background-color: red;
            color: #FFF;
            vertical-align: middle;
        }
        input[type="checkbox"]{
            margin: 1rem;
            width: 1rem;
            height: 1rem;
            vertical-align: middle;
        }
        
    }
}

@include desktopContact{
    .contactGrid{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(4,1fr);
        width: auto;
        position: relative;
        
        h2{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(20%,-50%);
            color: #FFF;
            padding: 2rem;
            background-color: rgba($color: #000, $alpha: 0.5);
            border-radius: 50%;
        }
        .maprouter {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            object-fit: cover;
            .address{
                color: purple;
                font-weight: bolder;
            }
        }
        .c-grid1{
            grid-column: 3;
            grid-row: 1;
            object-fit: cover;
            img{
                width: 150px;
                height: auto;
            }
        }
        .c-grid2{
            grid-row: 1;
            grid-column: 4;
            object-fit: cover;
            img{
                width: 150px;
                height: auto;
            }
        }
        .c-grid3{
            grid-row: 2;
            grid-column: 3 / span 4;
            object-fit: cover;
            img{
                width: 300px;
                height: auto;
            }
        }
    }
    .getContact{
        padding-top: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: #FFF;
        }
        span{
            color: #b4e72b;
        }
        form{
            padding-top: 1rem;
            width: 20rem;
            background-color: blueviolet;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            label{
                flex: 1;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: #FFF;
                span{
                    color: white;
                }
            }
            input {
                flex: 1;
                margin-top: 1rem;
                border-style: none;
                border-radius: 5%;
            }
        }
        .socialMedia{
            img{
                width: 20rem;
                height: auto;
            }
        }
        name-form, email-form{
            
            padding: 2rem;
            text-align: center;
            
        }
        button{
            width: 100%;
            background-color: chartreuse;
            margin-top: 2rem;
            padding:1rem 2rem;
            border-radius: 0 0 6% 6%;
            border-style: none;
        }
    }
}

@include desktopFooter{
    footer{
        margin-top: 2rem;
        width: 100%;
        float: right;
        background-color: cadetblue;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0rem -1rem 3rem var(--blackColor);
        img{
            width: 12rem;
            height: auto;
        }
        p{
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 900;
            margin-bottom: 1rem;
            
        }
    }
}



