@import 'interfaces';
/*mobile styles*/
@include headersMobile{
    
    header{
       
           div.titles{
               h1{
                   font-family: 'Ninja Rush';
                   font-size: 4rem;
                   word-break: break-all;
                   text-align: center;
                   text-shadow: 0rem 0rem 1rem #FFF;
               }
               span{
                  font-size: 3rem;
                  text-align: center;
                  animation: none;
                  box-shadow:  inset 0rem 0rem 10rem green;
               }
           }
           .burguer{
                display: flex;
                width: 100%;
                height: 2rem;
                position: relative;
                top: 0px;
                background-color: transparent;
                z-index: 100000;
              
                div.menuAcc{
                    flex: 1;
                    display: none;
                    margin-left: 3.5rem;
                    
                    a{
                        color: #FFF;
                        text-decoration: underline;
                        text-transform: capitalize;
                        margin-right: 0.4rem;
                        &:nth-child(4),&:nth-child(5) {
                            display: none;
                        }
                    }
                   
                }
                
                div.lines{
                    flex: 1;
                    width:2.5rem;
                    position: absolute;
                    top: 0rem;
                    background-color: black;
                    padding: 0.3rem;
                    span{   
                        padding: 0.1rem 1rem;
                        margin:0.2rem 0rem;
                        background:red;
                        display: block;
                        width: 2rem;
                        right: 00.1rem;
                    }
                }
                
            }
                  
   }
}
@include menuNavMobile{
  nav.menu{
       ul{
           padding: 1rem;
           li {
             
               padding: 1rem;
               margin-bottom: 0.4rem;
               width: 100%;
               text-align: center;
           }
       }
   }
}

@include contentMobile{
    article{
        flex-wrap: wrap;
        height: auto;
    }
    article div.gallery{
       flex: 1 1 100%;
       flex-direction: column;
       justify-items: center;
       align-items: center;
       
    }
    article aside{

       align-self:baseline;
       
    }
    
}

@include mutantsMobile{
    .mutantex{
        h1{
            text-align: center;
            color: #FFF;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 3rem;
        }
    }
    section div.mutants{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        
        .gridtest img{
            margin: 1rem;
            width: 250px;
            height: auto;
            box-shadow: 0rem 1rem 5rem black;
        }

    }
}

@include galleryMobile{
    aside{
        
       display: none; 
    }
}

@include sceneGameMobile{
    section.scene{
        
      display: none;
        
    }
}

@include shadowDOM{
    c-e{
       display: none;
    }
}